In [182]:
import numpy as np
import pandas as pd

In [183]:
from sklearn.datasets import load_iris

In [184]:
data = load_iris()

In [185]:
dir(data)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [186]:
df = pd.DataFrame(data.data, columns = data.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [187]:
"created output column"
df["flowers"] = data.target

In [188]:
df.sample(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flowers
54,6.5,2.8,4.6,1.5,1
59,5.2,2.7,3.9,1.4,1
51,6.4,3.2,4.5,1.5,1
94,5.6,2.7,4.2,1.3,1
116,6.5,3.0,5.5,1.8,2

In [189]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   flowers            150 non-null    int32
dtypes: float64(4), int32(1)
memory usage: 5.4 KB

In [190]:
df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
flowers              0
dtype: int64

In [191]:
X = df.drop("flowers",axis = 1)
y = df.flowers

In [192]:
from sklearn.model_selection import train_test_split

In [193]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [194]:
X_train.shape

(120, 4)

In [195]:
X_test.shape

(30, 4)

In [196]:
from sklearn.svm import SVC

In [197]:
model = SVC()

In [198]:
model.fit(X_train, y_train)

SVC()

In [199]:
model.score(X_test, y_test)

1.0

In [200]:
from sklearn.model_selection import cross_val_score

In [201]:
cross_val_score(SVC(),X,y, cv =3 )

array([0.96, 0.98, 0.94])

In [202]:
cross_val_score(SVC(C = 10 , kernel = "rbf" , gamma = "scale"),X ,y , cv = 3)

array([0.98, 1.  , 0.94])

In [203]:
kval = ["rbf", "linear"]
cval = [1,10,20]

In [204]:
scores = {}

In [205]:
"created a loop for using different parameters"
for i in kval:
    for j in cval:
        avg_score =np.average(cross_val_score(SVC(C = j , kernel = i , gamma = "scale"),X ,y , cv = 3))
        scores[i+"_"+str(j)] = avg_score       
print(scores)

{'rbf_1': 0.96, 'rbf_10': 0.9733333333333333, 'rbf_20': 0.98, 'linear_1': 0.9933333333333333, 'linear_10': 0.9733333333333333, 'linear_20': 0.9666666666666667}

In [206]:
"works better than cross_val_score"
"we have to give parameters while using this"
from sklearn.model_selection import GridSearchCV

In [207]:
clf = GridSearchCV(SVC(gamma = "scale"),{"kernel":["rbf","linear"], "C":[1,10,20]},cv =3)

In [208]:
clf.fit(X,y)

GridSearchCV(cv=3, estimator=SVC(),
             param_grid={'C': [1, 10, 20], 'kernel': ['rbf', 'linear']})

In [209]:
"created dataframe of all the parameters used"
final = pd.DataFrame(clf.cv_results_)
final

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.005350,0.004995,0.005422,0.004361,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.96,0.98,0.94,0.960000,0.016330,6
1,0.003458,0.003697,0.003100,0.004384,1,linear,"{'C': 1, 'kernel': 'linear'}",1.00,1.00,0.98,0.993333,0.009428,1
2,0.000869,0.001229,0.003690,0.002740,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.98,1.00,0.94,0.973333,0.024944,3
3,0.000533,0.000753,0.000000,0.000000,10,linear,"{'C': 10, 'kernel': 'linear'}",1.00,0.94,0.98,0.973333,0.024944,3
4,0.002371,0.002655,0.000358,0.000506,20,rbf,"{'C': 20, 'kernel': 'rbf'}",0.98,0.98,0.98,0.980000,0.000000,2
5,0.002866,0.004053,0.001510,0.002136,20,linear,"{'C': 20, 'kernel': 'linear'}",1.00,0.94,0.96,0.966667,0.024944,5

In [210]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   mean_fit_time      6 non-null      float64
 1   std_fit_time       6 non-null      float64
 2   mean_score_time    6 non-null      float64
 3   std_score_time     6 non-null      float64
 4   param_C            6 non-null      object
 5   param_kernel       6 non-null      object
 6   params             6 non-null      object
 7   split0_test_score  6 non-null      float64
 8   split1_test_score  6 non-null      float64
 9   split2_test_score  6 non-null      float64
 10  mean_test_score    6 non-null      float64
 11  std_test_score     6 non-null      float64
 12  rank_test_score    6 non-null      int32
dtypes: float64(9), int32(1), object(3)
memory usage: 728.0+ bytes

In [211]:
"score of all the parameters"
final[["params","mean_test_score","rank_test_score"]]

                          params  mean_test_score  rank_test_score
0      {'C': 1, 'kernel': 'rbf'}         0.960000                6
1   {'C': 1, 'kernel': 'linear'}         0.993333                1
2     {'C': 10, 'kernel': 'rbf'}         0.973333                3
3  {'C': 10, 'kernel': 'linear'}         0.973333                3
4     {'C': 20, 'kernel': 'rbf'}         0.980000                2
5  {'C': 20, 'kernel': 'linear'}         0.966667                5

In [212]:
from sklearn.model_selection import RandomizedSearchCV

In [213]:
clf1 =RandomizedSearchCV(SVC(gamma = "scale"),{"kernel":["rbf","linear","poly"], "C":[1,10,20]},n_iter = 3,cv =3)

In [214]:
clf1.fit(X,y)

RandomizedSearchCV(cv=3, estimator=SVC(), n_iter=3,
                   param_distributions={'C': [1, 10, 20],
                                        'kernel': ['rbf', 'linear', 'poly']})

In [215]:
final1 = pd.DataFrame(clf1.cv_results_)
final1

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_kernel,param_C,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.005848,0.007202,0.007386,0.002504,rbf,10,"{'kernel': 'rbf', 'C': 10}",0.98,1.00,0.94,0.973333,0.024944,2
1,0.001344,0.001900,0.004546,0.003268,rbf,1,"{'kernel': 'rbf', 'C': 1}",0.96,0.98,0.94,0.960000,0.016330,3
2,0.000000,0.000000,0.002679,0.003789,rbf,20,"{'kernel': 'rbf', 'C': 20}",0.98,0.98,0.98,0.980000,0.000000,1

In [216]:
final1[["params","mean_test_score","rank_test_score"]]

                       params  mean_test_score  rank_test_score
0  {'kernel': 'rbf', 'C': 10}         0.973333                2
1   {'kernel': 'rbf', 'C': 1}         0.960000                3
2  {'kernel': 'rbf', 'C': 20}         0.980000                1