In [1]:
import pandas as pd

In [35]:
df = pd.read_csv("F:\DATA SCIENCE\practice\datasets\student1.csv.xls")
df.head()

      name  gmat  gpa  exp  admitted country
0    samir   780  4.0    3         1     Ind
1  kaushal   750  3.9    4         1     Ind
2   nandan   690  3.3    3         0     Ind
3    ankit   710  3.7    5         1      us
4  deepika   680  3.9    4         0     Ind

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      42 non-null     object
 1   gmat      42 non-null     int64
 2   gpa       42 non-null     float64
 3   exp       42 non-null     int64
 4   admitted  42 non-null     int64
 5   country   42 non-null     object
dtypes: float64(1), int64(3), object(2)
memory usage: 2.1+ KB

In [36]:
df1 = df.drop(["name","country"], axis = 1)
df1.head()

   gmat  gpa  exp  admitted
0   780  4.0    3         1
1   750  3.9    4         1
2   690  3.3    3         0
3   710  3.7    5         1
4   680  3.9    4         0

In [26]:
X = df1.drop("admitted", axis = 1)

In [27]:
y = df1.admitted

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [30]:
X_train.shape

(33, 3)

In [31]:
X_test.shape

(9, 3)

In [32]:
from sklearn.tree import DecisionTreeClassifier

In [33]:
model = DecisionTreeClassifier()

In [34]:
model.fit(X_train , y_train)

DecisionTreeClassifier()

In [37]:
model.score(X_test, y_test)

0.7777777777777778

In [39]:
from sklearn.ensemble import RandomForestClassifier

In [41]:
rf = RandomForestClassifier()

In [42]:
rf.fit(X_train, y_train)

RandomForestClassifier()

In [43]:
rf.score(X_test,y_test)

0.7777777777777778